@model object

@{
    Layout = "BaseLayout";
}

<section class="hero is-success is-fullheight is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="content">
                <h1 class="title has-text-white">Erfolgreich Abgemeldet!</h1>
                <p class="subtitle">zurück zum <strong><a href="/account/login">Login</a></strong>?</p>
            </div>

        </div>

    </div>
</section>